@charset "UTF-8";

/* Para telas pequenas e ate max 600px */

/* Pra Celulares e (Tablets Pequenos) min 601 max 767 */

/* Para Tablets min 768 max 991 */

/* Para Destops min 992 max 1199 */

/* Para Telas Grades Min 1200 */ 

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media  screen and (Min-width: 768px) {
    #BK {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768;
    }
}