@charset "UTF-8";

@font-face {
    font-family: Passion;
    src: url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
}

@font-face {
    font-family: ;
    src: url();
}




* {
    padding: 0;
}